<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="BustozApplication">
  <test name="CreateApplications">
    <classes>
      <class name="com.asu.esid.ugapplication.BustozApplication.TestCase1"/>
    </classes>
  </test> <!-- CreateApplications -->
</suite> <!-- BustozApplication -->
